[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pytest = "*"
fastapi = "*"
pydantic = "*"
uvicorn = {extras = ["standard"], version = "*"}
httpx = "*"
databases = {extras = ["all"], version = "*"}

[dev-packages]
odfpy = "*"
lxml = "*"

[requires]
python_version = "3.10"
